.event-bubble {
  position: absolute;
  width: 141px;
  border-radius: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;

  padding: 6px 6px;
  color: rgba(127, 127, 127, 0.5);
  background-color: var(--base-color);
}

.event-bubble:hover {
  color: #1d1d1b;
  background-color: var(--hover-color);
}
