.calendar-grid {
  position: relative;
  display: grid;
  grid-template-columns: 133px repeat(7, 173px);
  grid-template-rows: 128px repeat(24, 64px);
  overflow-y: auto;
  max-height: 640px;
  background-color: #ffffff;
  overflow-x: hidden;
  border-radius: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  scrollbar-width: 16px;
  scrollbar-color: #e5e5ea transparent;
  @media screen and (max-width: 1240px) {
    overflow-x: auto;
  }
}

.calendar-grid > * {
  border: 1px solid #f2f2f7;
  box-sizing: border-box;
}

.corner-cell {
  background-color: #ffffff;
}
