.time-indicator-bar {
  position: absolute;
  width: 1211px;
  background-color: #5856d6;
  border-radius: 3px;
  border-width: 3px;
  border-color: #5856d6;
}

.time-indicator-ball {
  position: absolute;
  top: -7px;
  width: 15px;
  height: 15px;
  background-color: #5856d6;
  border-radius: 8px;
  font-size: 12px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}
