.event-bubble {
  position: absolute;
  border-radius: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  background-color: var(--base-color);
}

.event-bubble p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(127, 127, 127, 0.5);
  margin: 0;
  padding: 6px;
  text-align: left;
}

.event-bubble:hover {
  background-color: var(--hover-color);
}

.event-bubble:hover p {
  color: #1d1d1b;
}
