.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.calendar-title {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin: 40px 48px;

  @media screen and (max-width: 1240px) {
    font-size: 32px;
    margin: 32px 24px;
  }
}

.calendar-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0px 30px;
}

.calendar-controls button {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  cursor: pointer;
  background-color: #f2f2f7;
  border: none;

  @media screen and (max-width: 1240px) {
    width: 48px;
    height: 48px;
  }
}

.calendar-controls button:hover {
  background-color: #afafff;
}
.calendar-controls button:disabled {
  img {
    display: none;
  }
  &:hover {
    background-color: #f2f2f7;
  }
  cursor: default;
}

.calendar-controls img {
  width: 24px;
  height: 24px;
  opacity: 0.5;

  @media screen and (max-width: 1240px) {
    width: 16px;
    height: 16px;
  }
}

.calendar-controls div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 64px;
  border-radius: 12px;
  margin: 0 16px;
  cursor: pointer;
  background-color: #f2f2f7;
  color: #7f7f7f;
  font-size: 24px;

  @media screen and (max-width: 1240px) {
    width: 96px;
    height: 48px;
    font-size: 20px;
  }
}

.calendar-controls div:hover {
  color: #afafff;
}

.month {
  font-size: 20px;
  font-weight: 500;

  @media screen and (max-width: 1240px) {
    font-size: 16px;
  }
}

.date {
  font-size: 32px;
  font-weight: 600;

  @media screen and (max-width: 1240px) {
    font-size: 24px;
  }
}
.day-header-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #ffffff;
  height: 128px;
  gap: 5px;
}

@keyframes headerIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.day-header-cell p {
  opacity: 0.35;
  font-size: 20px;
  margin: 0%;

  @media screen and (max-width: 1240px) {
    font-size: 16px;
  }
}
.day-header-cell.today {
  color: #5856d6;
}
